.Julia {
    background-image: url(https://imagens-revista.vivadecora.com.br/uploads/2021/01/As-p%C3%A9talas-da-margarida-s%C3%A3o-alargadas-e-delgadas.-Fonte-Pinterest.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.imagem {
    width: 5%;
}